# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Dataset
data/raw_dataset/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Models (optional if large)
*.pkl
# Prometheus binaries
prometheus/
prometheus/prometheus
prometheus/promtool